*{
    margin: 0;
    padding:0;
    text-decoration: none;
    outline: none;
    transition: 0.3s;
    user-select: none;
}
button:focus{
    outline: none;
}
button{
    border: none;
    background-color: transparent;
}
h1{
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 30px;
}
h5{
    text-transform: uppercase;
}
p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
p span{
    font-weight: bold;
}
header{
    height: 80px;
    width: 100%;
    background-color: #1d2126;
    position: fixed;
    z-index: 99;
}
header ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
header li{
    line-height: 80px;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    border-radius: 3px;

}
header a{
    padding: 8px;
    color: #a4aead;
    border-radius: 3px;
    border: 2px rgba(164, 174, 173, 0) solid;

}
header a:hover{
    border: 2px rgba(164, 174, 173, 0.7) solid;
    color: #a4aead;
    text-decoration: none;
}
header img{
    display: block;
    padding-top: 30px;
}
.firstBlock{
    width: 100%;
    background-image: url("../img/pic2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 300px 0;
}

.firstBlock h1{
    margin-top: 50px;
}
.firstBlock p{
    margin-top: 30px;
}
.buttonWhite{
    height: 45px;
    width: 120px;
    margin: 35px 10px 0 0;
    background-color: transparent;
    text-transform:uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border: 2px white solid;
    border-radius: 4px;
}
.buttonWhite:hover{
    background-color: #23b7a4;
    border: 2px #23b7a4 solid;
}
.weAre{
    width: 100%;
    padding-bottom: 45px;
}
.block{
    display: inline-block;
    height: 35px;
    width: 10px;
    background-color: #e1e6ea;
    margin-right: 15px;
}
.header h1{
    display: inline-block;
    position: absolute;
}
.weAre p{
    color: #8d8f92;
}
.header{
    height: 40px;
    margin: 80px 0 60px;
}
.weAre p span{
    font-weight: bold;
}
.linkSoc{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: #c8cdd0;
    margin-right: 2px;
}
.linkSoc:hover{
    background-color: #23b7a4;
}
.socialButtons{
    font-size: 0;
    margin: 55px 0 40px;
}
.linkSoc i{
    font-size: 22px;
    color: white;
}
.square{
    height: 50px;
    width: 50px;
    background-color: #23b7a4;
    line-height: 50px;
    text-align: center;
    color: white;
}
.text{
    padding-left: 40px;
}
.about{
    height: 110px;
}

/*-----------------TEAM-------------*/
.team{
    border-top: 1px #8d8f92 solid;
    padding-bottom: 45px;
}

.team img{
    width: 100%;
    margin: 0;
}
.info{
    width: 100%;
    background-color: #c8cdd0;
    padding: 20px;
}
.info p{
    margin: 0;
}
.info p span{
    text-transform: uppercase;
    font-weight: bold;
}
.avatar{
    height: 300px;
    /*width: 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.avatarOne{
    background-image: url("../img/avatar1.png");
}
.avatarTwo{
    background-image: url("../img/avatar2.png");
}
.avatarThree{
    background-image: url("../img/avatar3.png");
}
.avatarFour{
    background-image: url("../img/avatar4.png");
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(212, 218, 222, 0.35);
    opacity: 0;
    font-size: 0;
    padding-top: 40%;
}
.slide{
    margin: 10px 0;
}
.slide:hover .info{
    background-color: #3a454d;
}
.slide:hover p,.slide:hover span{
    color: white;
}
.slide:hover .overlay{
    opacity: 1;
}
.avatarButton{
    height: 50px;
    width: 50px;
    background-color: #3a454d;
    display: inline-block;
    margin-left: 1px;
}
.buttonsAvatar{
    width: 155px;
    margin: auto;
}
.avatarButton:hover{
    background-color: #4e5a62;
}
.overlay i{
    font-size: 15px;
    color: white;
}
/*-----------WORK----------*/
.work{
    background-color: #3a454d;
    color: white;
    padding-bottom: 40px;
}
.work .block{
    background-color: #4e5a62;
}
.photo{
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}
.photo i{
    color: white;
    line-height: 210px;
}
.photoOne{
    background-image: url("../img/photoOne.png");
}
.photoTwo{
    background-image: url("../img/photoTwo.png");
}
.photoThree{
    background-image: url("../img/photoThree.png");
}
.photoFour{
    background-image: url("../img/photoFour.png");
}
.photoFive{
    background-image: url("../img/photoFive.png");
}
.photoSix{
    background-image: url("../img/photoSix.png");
}
.photoOverlay{
    height: 210px;
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
}
.photoInfo{
    height: 60px;
    background-color: #292f36;
    padding-left: 20px;
}
.photoInfo h5{
    line-height: 60px;
}
.photoHover{
    opacity: 0;
}
.photo:hover .photoHover{
    opacity: 1;
}
.showMore{
    height: 45px;
    width: 155px;
    display: block;
    margin: 20px auto;
    background-color: transparent;
    text-transform:uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border: 2px white solid;
    border-radius: 4px;
}

/*-------------------WHAT----------------*/
.whatBlock{
    height: 250px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.whatBlock i{
    margin-bottom: 30px;
    font-size: 50px;
    color: #23b7a4;
}
.whatBlock p{
    color: #8d8f92;
}
.whatBlock p span{
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}
/*-------------------FEATURES---------------*/
.features{
    background-color: #3a454d;
    color: white;
    padding-bottom: 100px;
}
.features p span{
    color: white;
    text-transform: uppercase;
}
.features p{
    color: #dcdfe1;
}
.features img{
    width: 100%;
    margin-bottom: 50px;
}
/*----------------TOUCH---------------*/
.touch{
    height: 870px;
}
.map{
    height: 350px;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: center;
}
.mapOverlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.touch h5{
    margin: 30px 0 30px 10px;
}
.touch p{
    color: #8d8f92;
}
.inputs{
    background-color: white;
    padding: 30px;
    position: relative;
    top: -130px;
}
.name,.surname{
    display: inline-block
}
.name{
    margin-right: 15px;
}
.inputs p{
    margin-bottom: 5px;
    text-transform: uppercase;
}
.inputs input[type=text], textarea{
    background-color: #eaeef1;
    border: none;
    border-radius: 3px;
    resize: none;
}
input[type=text]{
    width: 230px;
    height: 45px;
    padding: 5px;
}
.topInputs{
    margin-bottom: 25px;
}
textarea{
    width: 100%;
    height: 160px;
}
input[type=submit]{
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 3px;
    background-color: #23b7a4;
    margin-top: 35px;
    color: white;
    text-transform: uppercase;
}
input[type=submit]:hover{
    background-color: #2dc1ae;
}

/*-----------FOOTER--------------*/
footer{
    height: 95px;
    background-color: #3a454d;
    color: white;
}
footer p{
    margin-top: 40px;
    font-size: 12px;
}
.links i{
    margin: 40px 8px;
    font-size: 15px;
}